<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Head -->
<head th:replace="snippets.html :: name_head"></head>

<body>
  <!-- Navigation bar -->
  <nav th:replace="snippets.html :: name_app_navbar"></nav>
  <!-- Container start -->
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" style="background-color: white;padding-left: 0px;padding-bottom: 10px;margin-bottom: 10px;font-size:20px">
        <li class="breadcrumb-item"><a th:href="@{/ui/home}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Bin</li>
      </ol>
    </nav>
    <!-- Top row with form-->
    <div class="row">
      <!-- Product form -->
      <form class="form-inline w-100" id="bin-form"  autocomplete="off">
        <div class="col-12">
          <div class="row">
            <div class="col-2">
              <label for="binSelect" class="control-label">Bin</label>
            </div>
            <div class="col-2">
              <label for="clientSelect" class="control-label">Client</label>
            </div>
            <div class="col-2">
              <label for="inputClientSku" class="control-label">Client Sku</label>
            </div>
          </div>
        </div>
        <div class="col-12" style="margin-top: 5px">
          <div class="row">
            <div class="col-2">
              <div class="form-group">
                <select class="form-control" id="binSelect" name="binId"  style="width:90%">
                 <option value="">Select Bin</option>
               </select>
             </div>
           </div>
           <div class="col-2">
              <div class="form-group">
                <select class="form-control" id="clientSelect" name="clientId"  style="width:90%">
                 <option value="">Select Client</option>
               </select>
             </div>
           </div>
           <div class="col-2">
            <div class="form-group">
              <select class="form-control" id="inputClientSku" name="clientSkuId"  style="width:90%">
                 <option value="">Select ClientSkuId</option>
               </select>
            </div>
          </div>
          <div class="col-5">
            <div class="form-group">
             <button type="button" class="btn btn-outline-info" id="search-bin">Search</button>
             &nbsp;&nbsp;
             <button type="button" class="btn btn-outline-primary" id="show-add-bin-modal">Add Bins</button>
             &nbsp;&nbsp;
             <button type="button" class="btn btn-outline-success" id="upload-binInventory-data">Upload Inventory</button>
           </div>
         </div>
       </div>
     </div>
   </form>

 </div> 
 <div class="row">
  &nbsp;
</div>
<div class="row">

  <!-- Table -->
  <div class="col-12">
    <table class="table table-striped" id="bin-table">
      <thead>
        <tr>
          <th scope="col">#</th>	
          <th scope="col">Bin Id</th>
          <th scope="col">Client Name</th>
          <th scope="col">Client Sku</th>
          <th scope="col">Product Name</th>
          <th scope="col">Brand</th>
          <th scope="col">Quantity</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>

  </div>
</div>
<!-- Blank Row -->
<div class="row">
  &nbsp;
</div>
<!-- Blank Row -->
<div class="row">
  &nbsp;
</div>


<!-- Add Bin modal -->
  <div class="modal fade" tabindex="-1" role="dialog" id="add-bin-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Bins</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- Bin add form -->
        <form  id="bin-add-form" onsubmit="return addBin()"  autocomplete="off">
          <div class="modal-body mx-3">

            <div class="form-group row">
              <label for="inputBin" class="col-sm-3 col-form-label">Bins</label>
              <div class="col-sm-6">
                <input type="number" min="0" step="1" max="50" class="form-control" name="noOfBins" id="inputBin" placeholder="Enter a number" required>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" id="add-bin">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>


<!-- Edit Bin Model -->
<div 
class="modal fade" tabindex="-1" role="dialog" id="edit-bin-modal">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Edit Bin</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- Bin edit form -->
    <form  id="bin-edit-form" onsubmit="return updateBin()" autocomplete="off">
      <div class="modal-body mx-3">
      
        <div class="form-group row">
          <label for="inputBinId" class="col-sm-3 col-form-label">Bin Id</label>
          <div class="col-sm-6">
            <input type="number" class="form-control" name="binId" placeholder="Enter BinId" readonly>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputClientName" class="col-sm-3 col-form-label">Client</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="inputClientName" name="clientName" placeholder="Enter Client Name" readonly>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputClientSkuId" class="col-sm-3 col-form-label">Client Sku</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="inputClientSkuId" name="clientSkuId" placeholder="Enter Client SkuId" readonly>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputQuantity" class="col-sm-3 col-form-label">Quantity</label>
          <div class="col-sm-6">
            <input type="number" step="1" class="form-control" name="updateQuantity" placeholder="Enter Quantity" required>
          </div>
        </div>
        <input type="hidden" name="binSkuId">
        <input type="hidden" name="originalQuantity">
        <input type="hidden" name="globalSkuId">    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary" id="update-bin">Update</button>
      </div>
    </form>
  </div>
</div>
</div>

<!-- Upload BinInventory Model -->
<div 
class="modal fade" tabindex="-1" role="dialog" id="upload-binInventory-modal">
<div class="modal-dialog" role="document">
  <div class="modal-content">

    <div class="modal-header">
      <h5 class="modal-title">Upload Bin Inventory</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form  id="binInventory-upload-form" autocomplete="off">
      <div class="modal-body mx-3">
        <div class="form-group row">
          <label for="clientSelected" class="col-sm-3 col-form-label">Client</label>
          <div class="col-sm-6">
            <select class="form-control" id="clientSelected" name="clientName">
              <option value="">Select Client</option>
            </select>
          </div>
        </div>
        <div class="form-group required">
          <div class="custom-control col-9">
            <input type="file" class="custom-file-input" id="binInventoryFile" >
            <label class="custom-file-label" for="binInventoryFile" id="binInventoryFileName">Choose file</label>
          </div>
        </div>

        <br>
        <!-- file rows data progress -->
        Rows: <span id="rowCountBinInventory">0</span>, &nbsp;
        Errors: <span id="errorCountBinInventory">0</span>
      </div>


    </form>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      <button type="button" class="btn btn-primary" id="process-data-binInventory">Upload</button>
      <button type="button" class="btn btn-warning" id="download-errors-binInventory">Download Errors</button>
    </div>
  </div>
</div>
</div>


</div>
</div> <!-- Container end-->
<!-- Footer -->
<footer th:replace="snippets.html :: name_footer"></footer>
<script th:src="@{/static/js/bin.js}"></script>



</body>	

</html>