<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Head -->
<head th:replace="snippets.html :: name_head"></head>

<body>
  <!-- Navigation bar -->
  <nav th:replace="snippets.html :: name_app_navbar"></nav>
  <!-- Container start -->
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" style="background-color: white;padding-left: 0px;padding-bottom: 10px;margin-bottom: 10px;font-size:20px">
        <li class="breadcrumb-item"><a th:href="@{/ui/home}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Order</li>
      </ol>
    </nav>
    <!-- Top row with form-->
    <div class="row">
      <!-- Order form -->
      <form class="form-inline w-100" id="order-form"  autocomplete="off">
        <div class="col-12">
          <div class="row">
            <div class="col-2">
              <label for="clientSelect" class="control-label">Client</label>
            </div>
            <div class="col-2">
              <label for="channelSelect" class="control-label">Channel</label>
            </div>
            <div class="col-2">
              <label for="statusSelect" class="control-label">Status</label>
            </div>
          </div>
        </div>
        <div class="col-12" style="margin-top: 5px">
          <div class="row">
            <div class="col-2">
              <div class="form-group">
                <select class="form-control" id="clientSelect" name="clientId"  style="width:90%">
                 <option value="">Select Client</option>
               </select>
             </div>
           </div>
           <div class="col-2">
              <div class="form-group">
                <select class="form-control" id="channelSelect" name="channelId"  style="width:90%">
                 <option value="">Select Channel</option>
               </select>
             </div>
           </div>
           <div class="col-2">
              <div class="form-group">
                <select class="form-control" id="statusSelect" name="orderStatus"  style="width:90%">
                 <option value="">Select Status</option>
                 <option value="created">CREATED</option>
                 <option value="allocated">ALLOCATED</option>
                 <option value="fulfilled">FULFILLED</option>
               </select>
             </div>
           </div>
          <div class="col-5">
            <div class="form-group">
             <button type="button" class="btn btn-outline-info" id="search-order">Search</button>
             &nbsp;&nbsp;
             <button type="button" class="btn btn-outline-success" id="upload-order-data">Create Order</button>
           </div>
         </div>
       </div>
     </div>
   </form>

 </div> 
 <div class="row">
  &nbsp;
</div>
<div class="row">

  <!-- Table -->
  <div class="col-12">
    <table class="table table-striped" id="order-table">
      <thead>
        <tr>
          <th scope="col">#</th>	
          <th scope="col">Client Name</th>
          <th scope="col">Customer Name</th>
          <th scope="col">Channel Name</th>
          <th scope="col">Channel OrderId</th>
          <th scope="col">Status</th>
          <th scope="col">Allocate</th>
          <th scope="col">Fulfill</th>
          <th scope="col">Invoice</th>
          <th scope="col">View</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>

  </div>
</div>
<!-- Blank Row -->
<div class="row">
  &nbsp;
</div>
<!-- Blank Row -->
<div class="row">
  &nbsp;
</div>


<!-- Upload Order Model -->
<div 
class="modal fade" tabindex="-1" role="dialog" id="upload-order-modal">
<div class="modal-dialog" role="document">
  <div class="modal-content">

    <div class="modal-header">
      <h5 class="modal-title">Create Order</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form  id="order-upload-form" autocomplete="off">
      <div class="modal-body mx-3">
        <div class="form-group row">
          <label for="clientSelected" class="col-sm-3 col-form-label">Client</label>
          <div class="col-sm-6">
            <select class="form-control" id="clientSelected" name="clientName">
              <option value="">Select Client</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="customerSelected" class="col-sm-3 col-form-label">Customer</label>
          <div class="col-sm-6">
            <select class="form-control" id="customerSelected" name="customerName">
              <option value="">Select Customer</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
              <label for="inputChannelOrderId" class="col-sm-3 col-form-label">Order Id</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" name="channelOrderId" id="inputChannelOrderId" placeholder="Enter Channel OrderId" required>
              </div>
            </div>
        <div class="form-group required">
          <div class="custom-control col-9">
            <input type="file" class="custom-file-input" id="orderFile" >
            <label class="custom-file-label" for="orderFile" id="orderFileName">Choose file</label>
          </div>
        </div>

        <br>
        <!-- file rows data progress -->
        Rows: <span id="rowCountOrder">0</span>, &nbsp;
        Errors: <span id="errorCountOrder">0</span>
      </div>
      <input type="hidden" name="channelId" value="1">
    </form>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      <button type="button" class="btn btn-primary" id="process-data-order">Create</button>
      <button type="button" class="btn btn-warning" id="download-errors-order">Download Errors</button>
    </div>
  </div>
</div>
</div>

<!-- View Order Modal -->
<div 
class="modal fade" tabindex="-1" role="dialog" id="view-order-modal">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">View Order</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
     <!-- Blank Row -->
     <div class="row">
      &nbsp;
    </div>
    <div class="row">

      <!-- Table -->
      <div class="col-12">
        <table class="table table-striped" id="view-order-table">
          <thead>
            <tr>
            <th scope="col">#</th>
			<th scope="col">Client SKU ID</th>
			<th scope="col">Product</th>
			<th scope="col">Brand</th>
			<th scope="col">Ordered Qty</th>
      <th scope="col">Allocated Qty</th>
      <th scope="col">Fulfilled Qty</th>
			<th scope="col">Selling Price</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>

      </div>
    </div>
    <!-- Blank Row -->
    <div class="row">
      &nbsp;
    </div>
    <!-- Blank Row -->
    <div class="row">
      &nbsp;
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
  </div>

</div>
</div>
</div>


</div>
</div> <!-- Container end-->
<!-- Footer -->
<footer th:replace="snippets.html :: name_footer"></footer>
<script th:src="@{/static/js/order.js}"></script>



</body>	

</html>